[submodule "3_DevCpp/third_party/gflags"]
	path = 3_DevCpp/third_party/gflags
	url = https://github.com/gflags/gflags.git
[submodule "3_DevCpp/third_party/googletest"]
	path = 3_DevCpp/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "3_DevCpp/third_party/protobuf"]
	path = 3_DevCpp/third_party/protobuf
	url = https://github.com/google/protobuf.git
[submodule "3_DevCpp/third_party/grpc"]
	path = 3_DevCpp/third_party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "3_DevCpp/google/grpc"]
	path = 3_DevCpp/google/grpc
	url = https://github.com/grpc/grpc.git
[submodule "3_DevCpp/google/gflags"]
	path = 3_DevCpp/google/gflags
	url = https://github.com/gflags/gflags.git
[submodule "3_DevCpp/google/googletest"]
	path = 3_DevCpp/google/googletest
	url = https://github.com/google/googletest.git
[submodule "3_DevCpp/google/protobuf"]
	path = 3_DevCpp/google/protobuf
	url = https://github.com/google/protobuf.git
[submodule "3_DevCpp/google/glog"]
	path = 3_DevCpp/google/glog
	url = https://github.com/google/glog.git
[submodule "3_DevCpp/third_party/zlib"]
	path = 3_DevCpp/third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "3_DevCpp/third_party/curlcpp"]
	path = 3_DevCpp/third_party/curlcpp
	url = https://github.com/JosephP91/curlcpp.git
